.DescriptionBox{
    background: grey;
    width: 80vw;
    margin-top: 25vh;
    color: white;
}

.description-text-div h2{
    margin-left: 0;
    font-weight: 700;
    font-size: 2.5rem;
    /* background: indianred; */
    border: 1px solid red;
    width: 15.1rem;
}

.descriptionBoxTextArea{
    background: red;
    margin-top: 8px;
}

.ratingBox{
    width: 11rem;
    margin-bottom: 8px;
    background: indigo;
    display: flex;
    margin-left: 0;
}

.IMBD_div{
    display: flex;
    align-items: center;
    margin-left: 0;
    background: blue;
}

#IMBD_text{
    font-size: smaller;
}

.rotten_tomatoes_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0;
}

#tomatoPercentage{
    font-size: smaller;
}

.poster-movie-description{
    margin-left: 0;
   margin-bottom: 8px;
   background: indianred;
   width: 15.1rem;
}

.poster-movie-description p{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.DescriptionBox Button{
    width: 169px;
    height: 36px;
    border: 0;
    border-radius: 6px;
    padding: 6px, 16px, 6px, 16px;
    background: #BE123C;
    color: white;
    justify-content: center;
    text-align: center;
}

