.NavbarWrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #be123c; */
    width: 80%;
    display: flex;
    padding-top: 0.6rem;
    /* height: 60px; */

}

.LogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
    margin-left: 0;
    gap: 0.5rem;
    color: white;
}


.LogoContainer img{
    width: 3rem;
}


.MenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 1rem;
    color: white;
    border-radius: 0.2rem;
    margin-right: 0;
}

.signInIcon{
    border-radius: 50%;
    background: #be123c;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuText{

}

.logo{
   height: 5rem; 
   width: 5rem;
}

.search_div{
    background: yellow;
  
    height: 36px;
    
}

.search_icon_wrapper{
    /* display: inline-block; */
    position: relative;
    bottom: 1.5rem;
    /* right: 50%; */
    left: 31rem;
    
    /* background-color: red; */

}


.menu{
    margin-right: 212px;
}
.menuText{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 36px;
    color: white;
    
}

.menuIcon{
    background-image: url(./assets/Menu.png);
    background-size: cover;
    height: 36px;
    width: 36px;
}

.movieSearchIcon{
    caret-color: white;
    color: white;
    /* padding: 15px; */
    font-size: 16px;
    text-align: center;
}

